.done-*
.in_colab
Miniconda3-py37_4.10.3-Linux-x86_64.sh
env.sh
venv
Miniconda3-latest-Linux-x86_64.sh
Miniconda3-*
kaldi
corpora
kaldifeat
*.egg-info/
feerci
k2
pychain
.ipynb_checkpoints/
.parallel.exclusivelock
fairseq
*stderr
*stdout
requirements.txt
sidekit
core
*old*
*.zip
*hugging_face_upload_*
